<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CBCSRC.LogicalDBConnector" publicKeyToken="28ea8b01fb70ba34" culture="neutral"/>
        <codeBase version="3.0.0.0" href="C:\Program Files\GES - General Election System\Generic Components\Logical DB Connector\CBCSRC.LogicalDBConnector.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CBCSRC.DBDataIntegratorQuery" publicKeyToken="28ea8b01fb70ba34" culture="neutral"/>
        <codeBase version="3.0.0.0" href="C:\Program Files\GES - General Election System\Generic Components\DB Data Integrator Query\CBCSRC.DBDataIntegratorQuery.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CBCSRC.GES.Common" publicKeyToken="28ea8b01fb70ba34" culture="neutral"/>
        <codeBase version="3.0.0.0" href="C:\Program Files\GES - General Election System\Generic Components\GES Common\CBCSRC.GES.Common.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>